body{
    background: url(/assets/i/back.jpg) center 0;
    overflow-y: scroll;
}
.container{
    background: #fff;
}
.header {
    background: url(/assets/i/bestsellers_top_banner_d.png) no-repeat;
    background-size: contain;
    padding-bottom: 22%;
    margin-top: 15px;
}
h1 {
    text-align: center;
}
.separator{
    border-top: 5px solid #ef9901;
    margin: 10px 0;
}
div.form-stadium .form-group {
    position: relative;
    margin-bottom: 0.5rem;
}
div.form-stadium .form-group .selectbasic select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
div.form-stadium .form-group .selectbasic select::-ms-expand {
    display: none;
}
div.form-stadium .form-group .selectbasic + i.fas {
    pointer-events: none;
    background-color: transparent;
    z-index: 10;
    right: 10px;
    font-size: 24px;
    top: 17px;
    position: absolute;
    color: #007bff;
}
div.form-stadium .form-group .form-control {
    border: 1px solid #c4d8ec;
    border-radius: 0;
    box-shadow: inherit;
    padding: 10px;
    height: 60px;
    font: 600 14px 'Open Sans', sans-serif;
}
div.form-stadium .form-group .form-control::placeholder {
    color: #ccc;
}

/**********************************/
/* Book Gallery
/**********************************/
.gallery-box {
    overflow: hidden;
}

.wrap-vg {
    overflow: hidden;
}
.wrap-vg .filter-books .vg-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.wrap-vg .filter-books .vg-filter .reset-btn {
    display: none;
    border-radius: 0;
    margin: 0 0 0.5rem;
    width: inherit;
    text-transform: uppercase;
    font-size: 16px;
}
.wrap-vg .filter-books .vg-filter .form-group {
    position: relative;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.wrap-vg .filter-books .vg-filter .form-group .form-control {
    margin: 0 3px;
    width: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    padding: 10px 36px 10px 10px;
}
.wrap-vg .filter-books .vg-filter .form-group .selectbasic + i.fas {
    top: inherit;
}
.wrap-vg .books-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrap-vg .books-catalog .table th {
    background-color: #c4d8ec;
    border-color: #f2f2f2;
    padding: 0.6rem;
}
.books-catalog tr th,
.books-catalog tr td {
    vertical-align: middle;
}
.books-catalog tr th + th,
.books-catalog tr td + td {
    text-align:center;
}
.wrap-vg .books-catalog.loading:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    opacity: 0.7;
    z-index: 10;
}

#modal-del-book .modal-body a{
    font-size: 55px;
}

/* Check Form */
div.error,
div.valid{
    padding: 2px 5px;
    font-weight: 600;
    font-size: 14px;
    margin: 2px 0 0;
}
input.error,
textarea.error,
select.error{
    border: 1px solid #fe0000 !important;
}
input.valid,
textarea.valid,
select.valid{
    border: 1px solid #128e00 !important;
}
div.error{
    color: #fe0000;
    background: rgba(254, 0, 0, 0.12);
}
div.valid{
    color: #128e00;
    background: rgba(18, 142, 0, 0.12);
}
div.wr-price.error{
    border: 1px solid #fe0000;
    background: none;
    padding: 0;
    margin: 0;
    position: unset;
    border-radius: 0.25rem;
}
div.wr-price.error * {
    border: 0;
}
div.wr-price .error {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
}
div.wr-price.valid{
    border: 1px solid #128e00;
    background: none;
    padding: 0;
    margin: 0;
    position: unset;
    border-radius: 0.25rem;
}
div.wr-price.valid * {
    border: 0;
}
div.wr-price .valid {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
}

.send-success{
    background: #a6ff9a;
    width: 260px;
    text-align: center;
    padding: 15px;
    position: fixed;
    border-radius: 10px;
    border: 5px solid #16b900;
    z-index: 20;
    margin: auto;
    left: 0;
    right: 0;
    top: 10px;
}
.copyright {
    background: #cafffe;
    padding: 10px 0;
    margin: 15px 0;
}